.why-item
{
  display: inline-block;
  margin: 15px 35px;
  width: 250px;
  vertical-align: top;
  &__txt
  {
    display: block;
    padding: 15px 0;
  }
}

.why-item__icon {
  display: block;
  margin: auto;
  width: 126px;
  height: 130px;
  background: url(emb/why-items.png) no-repeat;
}
.w-clipboard {
  background-position: 2px 0;
}
.w-diamond {
  background-position: -317px 0;
}
.w-frame {
  background-position: -649px 0;
}
.w-bage {
  background-position: -158px 0;
}
.w-count {
  background-position: -483px 0;
}
.w-place {
  background-position: -810px 0;
}
