.icon
  display: inline-block
  vertical-align: middle
  width: 17px
  height: 17px
  background-position: 50% 50%
  background-repeat: no-repeat;
  &_i
    &_user
      background-image: url('emb/icon_user.png');
    &_tel
      background-image: url('emb/icon_phone.png');
