.wonder
  position: relative;
  left: 30px
  &:before
    content: ''
    display: block
    position: absolute
    top: 65px
    left: 15px;
    height: 4px;
    width: 800px;
    background: #b5e3e6;
