.superaction
  box-sizing: border-box;
  padding-top: 60px
  width: 590px;
  position: relative
  text-align: center
  background: url('action-shadow.png') 50% 0 no-repeat;
  z-index: 2 //fix bug on no-flexbox layout
    &:after
      content: ''
      display: block
      position: absolute
      width: 376px
      height: 70px
      bottom: -5px;
      left: 50%;
      background: url('action-arrow.png') no-repeat;
    &__heading
      margin: 25px 0
      padding: 0
      color: darken(pink, 20%)
    &__content
      width: 350px
      font: 24px/30px df
      margin: 20px auto
      em
        text-transform: uppercase
        color: blue
        font: bold 30px hf
      b
        text-transform: uppercase
        color: darken(pink, 10%)
        font: bold 30px hf

.row_flexbox_disabled
  .superaction:after
      bottom: -34px;

