.wedding-video
  display: block;
  width: 894px
  height: 500px;
  margin: 60px auto;
  box-sizing: border-box
  position: relative;
  padding: 20px 20px;
  border: 2px solid pink
  border-top: 0
  &:before
    content: '';
    display: block
    position: absolute
    bottom: 100%
    left: -2px;
    background: url(video-frame.png) top center no-repeat;
    width: 894px;
    height: 55px;
