.button
  border: none;
  outline: none
  border-radius: 8px;
  padding: 8px;
  font-weight: 600;
  color: white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
  transition: background-color 0.4s ease;
  letter-spacing: 1px
  font-family: df;
  text-shadow: 1px 1px 1px rgba(0,0,0,.5) 
  &_cs
    &_blue
      border-bottom: 4px solid darkblue;
      background: blue;
      &.button_hovered
        border-color: lighten(darkblue, 10%)
        background: lighten(blue, 10%)
      &.button_pressed
        border-color: darken(darkblue, 10%)
        background: darken(blue, 10%)
    &_pink
      border-bottom: 4px solid red;
      background: pink;
      &.button_hovered
        border-color: lighten(red, 10%)
        background: lighten(pink, 10%)
      &.button_pressed
        border-color: darken(red, 10%)
        background: darken(pink, 10%)
  &_size
    &_x
      font-size: 19px
      padding: 6px;
      max-width: 280px
    &_l
      font: 34px/1 df; 
      padding: 14px;
      width: 280px;
      letter-spacing: 4px
    &_xl
      font-size: 21px
      padding: 13px;
      letter-spacing: 2px
      border-bottom-width: 5px
