ctx = '.row'

row(nest = false)

    if nest
        padding: 0
    else
        padding-left:   remify(row_padding)
        padding-right:  remify(row_padding)
        margin:         0
        width:          100%
        box-sizing:     border-box
        display:        flex
        flex-direction: row
        flex-wrap:      wrap

row_align_classes(size)

    // {s,m,l}al = {small, medium, large} align left
    {ctx}_{size}al
        justify-content: flex-start
        text-align:      start

    // {s,m,l}ac = {small, medium, large} align center
    {ctx}_{size}ac
        justify-content: center
        text-align:      center

    // {s,m,l}ar = {small, medium, large} align right
    {ctx}_{size}ar
        justify-content: flex-end
        text-align:      end

    // {s,m,l}vat = {small, medium, large} vertical align top
    {ctx}_{size}vat
        align-items: flex-start
        &{ctx}_flexbox_disabled
          {ctx}__col
            vertical-align: top

    // {s,m,l}vam = {small, medium, large} vertical align medium
    {ctx}_{size}vam
        align-items: center
        &{ctx}_flexbox_disabled
          {ctx}__col
            vertical-align: middle

    // {s,m,l}vab = {small, medium, large} vertical align bottom
    {ctx}_{size}vab
        align-items: flex-end
        &{ctx}_flexbox_disabled
          {ctx}__col
            vertical-align: bottom

{ctx}
    row()

    {ctx}
        row(nest: true)

@media small
    row_align_classes(s)

@media medium
    row_align_classes(m)

@media large
    row_align_classes(l)

@media xlarge
    row_align_classes(xl)

@media xxlarge
    row_align_classes(xxl)
