.section
{
  &_cs
  {
    &_blue
    {
      background: blue-bg;
    }
    &_pink
    {
      background: pink-bg;
    }
  }
}


.section_name
{
  &_topline
  {
    padding: 10px 0;
  }
  &_why-we
  {
    padding: 60px 0;
    .heading_lvl_2{
      margin: 0;
    }
  }
  &_action,
  &_ready
  {
    padding: 60px 0;
  }
  &_wonder,
  &_portfolio
  {
    padding: 50px 0;
  }
  &_pricing,
  &_reasons
  {
    padding: 40px 0;
  }
  &_lead
  {
    padding: 25px 0;
    background-image: url(order2_bg.jpg);
    background-repeat: no-repeat;
  }
  &_reviews
  {
    background: #fceff8;
    padding: 1px 0;
  }
}
