.wonder-item
  width: 170px;
  display: inline-block
  vertical-align: top
  margin: 0 15px;
  &__icon
    display: inline-block
    width: 53px;
    height: 53px;
    background: url('emb/wonder-icons.png') no-repeat;
  &__name
    font-family: Lobster,hf;
    color: #c05d62;
    font-size: 24px;
    margin: 0 0 10px;
  &__content
    padding-top :25px;
    position: relative
    &:before
      content: ''
      display: block;
      left: 0
      top: 7px 
      position: absolute
      width: 24px
      height: 4px
      background: #c05d62;

.wr-
  &photo
   background-position: -71px 0;
  &pad
   background-position: -152px 0;
  &box
   background-position: -217px 0;
  &sun
   background-position: -294px 0;
