.menu-container
{
  position: relative;
  padding-top: 20px;
}
.menu-container:before
{
  content: '';
  display: block;  
  top: 0;
  left: 0;
  margin: -20px auto 0;
  width: pmin;
  height: 18px;
  background: url(emb/head_waves.png) repeat-x;
}
