.slide
  position: relative
  height: 100%!important;
  width: pmax
  display: none;
  &__container
    position: relative
    z-index: 2
    top: 0
    //left: (pmin / 2);
    height: 100%
    padding: 30px 0
    //box-sizing: border-box
    //margin-left: -(pmin / 2)
  &__image
    background-position: top center
  &_first
    display: block

 .slider_js_inited
   .slide
     display: block
