.heading
{
  text-align: center;
  font-weight: normal;
  &_lvl
  {
    &_1
    {
      font-size 67px
      font-family: hf
      margin-top: 0;
      text-transform: uppercase
    }
    &_2
    {
      font-size 55px
      font-family: hf
      margin-top: 0;
    }
    &_3
    {
      font-size: 36px
      text-transform: none;
    }
  }
  &_cs
  {
    &_blue
    {
      color: blue
    }
    &_pink
    {
      color: pink
    }
  }
  &_size
  {
    &_s
    {
      font-size: 45px
    }
  }

}


