.ready__icon
  display: block
  background: blue url(emb/ri-icons.png) no-repeat;
  width: 94px
  height: 94px
  border-radius: 100%;
  margin: 18px auto
  &.ri-
    &time
      background-position: 23px 50%;
    &route
      background-position: -57px 50%;
    &meet
      background-position: -131px 50%;
    &money
      background-position: -230px 50%;
