.review
  margin: 40px 0;
  &__text
    font: italic 20px 'PT Serif Caption',hf;
    position: relative
    padding: 20px 2px;
    text-align: justify;
    margin: 20px 2px
    color: #000    
    &:before,
    &:after
      content: ''
      display: block
      width: 39px;
      height: 19px;
      position: absolute;
    &:before
      background-image: url('__text/emb/q-before.png');
      left: 0;
      top: 0;
    &:after
      background-image: url('__text/emb/q-after.png');
      right: 0;
      top: 100%;
    i.lips
      background: url(__text/emb/lips.png)
      display: inline-block
      width:36px
      height: 27px
  &__names
    color: #828082
    font: 600 24px df
  &__author
    font: italic 30px 'PT Serif Caption',hf;
    text-align: right;
    margin: 15px 0;
    color: blue
  &_pos_even
    .review
      &__names
        text-align: right
      &__imgwrap
        text-align: right
  &_size
    &_s
      .review
        &__author
          font-size: 20px
