.action
{
  &__photo
  {
    background: url('friends.jpg') 50% 50% no-repeat;
    width: 288px;
    height: 288px;
  }
  &__text
  {
    margin-top: -21px
  }
  &__form
  {
    .form__body
    {
      margin-top: 65px
    }
    .form__submit
    {
      margin-top: 47px
    }
  }
  &__desc
  {
    font-size: 24px;
    text-align: center;

    b{
      color: pink
      font-size: 30px;
      text-transform: uppercase;
      font-family: hf
    }
    em{
      color: blue;
      font-size: 30px;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      }

    .heading_lvl_2
    {
      margin: 0 0 15px;
      text-transform: uppercase;
    }
  }
}
