.service-desc
  box-sizing: border-box
  position: relative
  max-width: pmin
  width: 950px
  &__ts
    padding: 0 0 25px 25px
  &__img
    display: block
    max-width: 100%
  &__pre
    text-align: center
    padding-top: 60px;
  &__caption
    font: bold 18px hf;
    color: red
    text-transform: uppercase
    text-align: center
    margin: 20px;
  &__name
    text-transform: uppercase
    font-size: 25px;
    font-weight: bold
  &__form-cont
    padding-bottom: 90px
    position: relative;
    width: 373px;
    margin: auto;
  &__text
    font-size: 18px
    margin: 22px 0 0
    position: relative
    &:after
      content:''
      display: block
      position: absolute
      bottom: 0
      left: 100%
      background: url('service-desc.png') no-repeat
      width: 191px;
      height: 92px
  .form__submit
    width: 244px

