.why-we-item{
  display: block;
  font-size: 18px;
  max-width: 380px;
  height: 180px
  margin: 25px 0;
  position: relative;
  &__name
  {
    font: 24px df;
    margin: 18px 0;
  }
  &__text
  {
    height: 90px;
  }
  &_even
  {
    text-align: left;
    float: right;
  }
  &_odd
  {
    text-align: right;
    float: left;
  }
  &_num
  {
    &_3
    {
      left: -70px;
    }
    &_4
    {
      left: 70px;
    }
  }
}

