.service-item {
  display: inline-block;
  margin: 10px 0;
  width: 240px;
  vertical-align: top;
  .link
  {
    text-decoration: none; 
    color: inherit;
  }
  &__txt
  {
    display: block;
    margin: 15px 0;
    color: tc;
    font: 18px df; 
  }

}
