.case
  &__photo-wrap
    max-width: pmin
    overflow: hidden
  &__photos
    margin: 23px -15px 23px -2px
    text-align: center
  &__names
    color: blue
    font: bold italic 30px hf;
    text-align: center
