.rvar
  display: inline-block
  vertical-align: top
  position: relative
  box-sizing: border-box
  margin: 10px
  width: 320px
  height: 680px
  padding: 15px
  border-radius: 4px
  border: 1px solid
  color: #4f4f4f
  &:before
    content: ''
    display: block
    position: absolute
    width: 100%
    height: 100%
    border-radius: 4px
    border: 1px solid
    left: 5px
    top: 0
    z-index: -1
  &:after
    content: ''
    display: block
    position: absolute
    width: 345px
    height: 9px 
    top: 100% 
    left: -11px 
    z-index: -1
    background: url(emb/bbc.png) top center no-repeat
  &__head
    color: blue
    padding: 0px 10px 20px
    font-size: 24px
    font-weight: bold
    border-bottom: 1px solid blue
  &__includes
    margin: 20px 0
    padding: 0
    text-align: left
    list-style: none
    .list__item
      position: relative
      padding: 5px 0 5px 34px
      min-height: 19px
      &:before
       content: '';
       display: block
       position: absolute
       left: 0
       top: 6px 
       width: 24px
       height: 19px
       background: url(emb/ready_lm.png) no-repeat
  &__foot
    padding: 20px 10px 0
    border-top: 1px solid blue
    position: absolute
    bottom: 20px
    width: 270px 
  &__price
    color: pink
    font: 48px/1 hf
    display: block
    margin: 10px
  &_color
    &_pink
      background: #fcf1f9
      border-color: #ecdbe5 
      &:before
        background: #fcf1f9
        border-color: #ecdbe5 
    &_blue
      background: #e7f6f6
      border-color: #aee2ed 
      border-left: 0
      &:before
        background: #e7f6f6
        border-color: #aee2ed 
