.nav-menu
{
  display: block;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  left: 0;
  z-index: 20;
  //padding: 20px 0;
  max-height: 70px;
  width: 100%;
  &__list
  {
    display: table;
    margin: 0;
    padding: 0;
    width: 100%;
    list-style: none;
  }
  &__item
  {
    display: table-cell;
    padding: 25px 10px 25px 20px;
    background: url(emb/nav-div.png) left center no-repeat;
    text-align: center;
    text-transform: uppercase;
    font: 15px/1 df;
    letter-spacing: 1px;
    white-space: nowrap
    &:first-child {
      background-image: none;
      text-align: left;
    }
    &:last-child,
    &_last {
      text-align: right;
    }
  }
  &__link
  {
    color: inherit;
    transition: all 0.5s ease;
  }
  &_fixed
  {
    position: fixed;
    top: 0;
  }
}
