.lang
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid 
  padding: 0 .4em
  line-height: 1
  font-weight: bold
  &:last-child
    border-right: 0
  &__icon
    display: inline-block;
    width: 8px
    height: 8px
    margin: 0 .1em
    background-repeat: no-repeat;
    background-position: 50% 50%
    &_l_arm
      background-image: url(emb/arm.png)
    &_l_ru
      background-image: url(emb/rus.png)
  .link
    color: inherit
    text-transform: uppercase
    text-decoration: none
