ctx = '.row'

{ctx}_flexbox_disabled
    box-sizing:   border-box
    display:      table
    table-layout: fixed
    width:        100%

    {ctx}__col
        position:       relative
        display:        table-cell
        vertical-align: top
        flex:           1
        flex-direction: column
        white-space:    normal
