.input
  border: 2px solid blue
  padding: 5px
  border-radius: 2px
  display: table;
  position: relative;
  box-sizing: border-box
  background: rgba(255,255,255,.9);
  margin: 15px auto;
  transition: box-shadow .3s ease-out;
  &__icon
    display: table-cell
    padding-right: 5px
  &__box
    display: table-cell
  &__control
    font: italic 17px 'PT Serif Caption',hf;
    color: tc
    border: 0
    outline: 0
    width: 100%;
    background: transparent;
  &_focused
    box-shadow: 0 0 3px blue
  &_size_x
    width: 244px;
