.form
  text-align: center
  box-sizing: border-box;
  &__header
    padding: 20px 10px 0
    .heading
      padding: 0;
      margin: 0; 
  &__heading
    color: pink
    font: bold 24px hf
    text-transform: uppercase
    letter-spacing: 1px
    &_sub
      margin: 20px 0
      text-transform: none
      color: tc
      font: 20px df
  &__submit
    display: block
    box-sizing: border-box
    width: 100%;
    margin: 20px auto 10px
  &_size_l
    width: 373px
    margin: 0 auto;
    .heading
      font-size: 36px
      font-weight: bold
      letter-spacing: 2px
  &_theme_wedding
    padding: 15px;
    background: #fff;
    background: rgba(255,255,255,.9);
    border-radius: 15px;
    box-shadow: 3px 3px 3px rgba(0,0,0, .22);
  &_theme_normal
    padding: 50px
    .form
      &__body
        margin: 40px 0;
  &_n_questions-6
    .form__submit
      display: inline-block;
      width: 244px


