.pricing
  text-align: center
  font-size: 24px;
  &__heading
    font-size: 45px
  &__pig
    display: block
    width: 50px
    height: 45px
    background: url('emb/piggy.svg');
    margin: auto
  em
    color: pink
    font-style: normal
