.social
  text-align: center
  margin: 35px auto;
  &__list
    margin: 0;
    padding: 0;
    display: block;
  &__item
    display: inline-block
    vertical-align: top
    margin: 2px;
  &__icon
    background: url('emb/social-icons.png') no-repeat
    display: block
    width: 38px
    height: 38px
    &_i
      &_ok
        background-position-x: -43px
      &_in
        background-position-x: -85px
