pink = #f5989d;
pink-bg = #fceff8;
red  = #c05d62;

blue = #00aeef;
blue-bg = #edfafd;
darkblue = #2085ab

tc = #444;

df = 'PF Din Text Cond Pro','Open Sans', sans-serif;
hf = 'PT Serif', serif;

pmax = 1600px
