.ready
  text-align: center;
  p
    font-size: 24px;
    margin: 45px
  &__acts
    display: block;
    margin: 20px auto;
    text-align: center;
    list-style: none
  &__act
    display: inline-block
    vertical-align: top
    width: 240px
  &__price
    color: pink
    font-weight: 600
  &__button
    margin: 30px auto;
