.heading_deep
{
  position: relative
  &:before,
  &:after
  {
    content: attr(title);
    color: rgba(255,255,255, .1);
    position: absolute;
    display: block
    text-align: inherit;
    width: 100%;
  }
  &:before
  {
    top: 1px
    left: 1px
  }
  &:after
  {
    top: 2px
    left: 2px
  }
  &.heading_cs_blue
  {
    color: darken(blue, 2%)
  }
  &.heading_cs_pink
  {
    color: darken(pink, 2%)
  }
}
